html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

body,html { 
	margin: 0;
	font-size: 1.1em;
	line-height: 1.7em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background-color: #455a64;
	height: 100%;
}

a {
	color: rgb(85, 129, 158);
	text-decoration: none;
	font-weight: bold;
}

* {
	box-sizing: border-box;
  }

.mission {
	color: white; 
	font-size: 1.4em;
	/* margin-top: 40px; */
    padding: 30px; 
    width: 900px;
    text-shadow: 1px 1px 1rempx rgba(0,0,0,0.8);
}

#whiteref {
	color: white;
}

.signin {
	margin-top: 100px;
	color: white; 
}

.round_top {
	border-radius: 5px 5px 0 0;
}
.round_bottom {
	border-radius: 0 0 5px 5px;
	border-top: 0px;
}

.text_white {
	color: white;
}

a:hover {
	color: #444;
}
.top_margin{
	margin-top: 95px;
}

header {
	background: #fff;
	width: 100%;
	height: 78px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 6px solid #455a64;
	z-index: 1;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	background-color: white;
	border-top: 6px solid #455a64;
	color: black;
    text-align: center;
	padding: 8px;
}

#map {
	margin-top: 20px;
	height: 380px;
}

.centred_skinny {
	max-width: 700px;
	margin: auto;
	padding: 12px
}

.content_left {
    float: left;
    margin-left: 30px;
}

.content_right {
    float: right;
    margin-right: 30px;
}

.content_center {
	float: center;
}

#logo{
	margin: 20px;
	float: left;
	width: 200px;
	height: 40px;
	background: url(../img/HAUKAI.png) no-repeat center;
	display: block;
}

#ul1{
	list-style-type: circle;
}

nav {
	float: right;
	padding: 15px;	
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #455a64 url(../img/menu-icon.png) center;
}

a:hover#menu-icon {
	background-color: #444;
	border-radius: 4px 4px 0 0;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	padding: 10px
}

.current {
	color: black;
}

.text_content{
	width: 700px;
	color: white;
}
.container {
    margin-top: 76px;
    height:520px;
    background-size: cover;
    background-image: url('../img/sardines11.webp');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
	margin-top: 76px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full_bg {
	margin-top: 76px;
	margin-bottom: 80px;
	background-image: url("../img/ocean_blur.webp");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
}

#screen {
    width:100%
}

.centered {
	position: absolute;
    top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

h1 {
	font-size: 1.6em;
	color: white;
	margin: 6px 0 ;
} 

/* calendar responsive to show month view*/
.hidden {
	display: none;
}
.show {
	display: block;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 5px;
  }

  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }

/* Responsive layout to hide nav bar, add menu button, reduce image columns from 4 to 2, simplify footer and move links to burger nav*/
@media only screen and (max-width : 860px) {

		iframe {
			max-width: 100%;
			padding: 12px;
		}
		
		.content_right, .content_left {
			display:none
		} 

		.content_center {
			float: center;
		}

		/* calendar responsive to show agenda view*/
		.hidden {
			display: block;
		}
		.show {
			display:none;
		}

		.column {
			flex: 50%;
			max-width: 50%;
			}

		header {
			position: absolute;
		}

		#menu-icon {
			display:inline-block;
		}

		nav ul, nav:active ul { 
			display: none;
			position: absolute;
			padding: 20px;
			background: #fff;
			border: 5px solid #444;
			right: 20px;
			top: 60px;
			width: 50%;
			border-radius: 4px 0 4px 4px;
			z-index: 1;
		}

		nav li {
			text-align: center;
			width: 100%;
			padding: 10px 0;
			margin: 0;
		}

		nav:hover ul {
			display: block;
		}

}